:root {
  --main-bg-color: #fffeff;
  --main-text-color: #2c3e50;

  --number-title-color: #e9e7e8;

  --all-text-color: var(--main-text-color);
  --grass-text-color: #22c02a;
  --poison-text-color: #a040a0;
  --fire-text-color: #f08030;
  --flying-text-color: #9096f0;
  --water-text-color: #6890f0;
  --bug-text-color: #9cb820;
  --normal-text-color: #a8a8a8;
  --electric-text-color: #c09643;
  --ground-text-color: #e0b668;
  --fairy-text-color: #f09ad9;
  --fighting-text-color: #c03028;
  --psychic-text-color: #eb2d77;
  --rock-text-color: #b8a038;
  --steel-text-color: #6d8f9c;
  --ice-text-color: #98d8d8;
  --ghost-text-color: #705898;
  --dragon-text-color: #7038f8;

  --box-shadow-color: #e9e8e7;

  // breakpoints
  --break-320: 20em;
  --break-321: 20.0625em;
  --break-480: 30em;
  --break-600: 37.5em;
  --break-768: 48em;
  --break-980: 61.25em;
  --break-1024: 64em;
  --break-1200: 75em;
  --break-1224: 76.5em;
  --break-1280: 80em;
  --break-1366: 85.375em;
  --break-1824: 114em;
}
