:root {
  --main-bg-color: #fffeff;
  --main-text-color: #2c3e50;

  --number-title-color: #e9e7e8;

  --grass-text-color: #22c02a;
  --poison-text-color: #a040a0;
  --fire-text-color: #f08030;
  --flying-text-color: #9096f0;
  --water-text-color: #6890f0;
  --bug-text-color: #9cb820;
  --normal-text-color: #a8a8a8;
  --electric-text-color: #c09643;
  --ground-text-color: #e0b668;
  --fairy-text-color: #f09ad9;
  --fighting-text-color: #c03028;
  --psychic-text-color: #eb2d77;
  --rock-text-color: #b8a038;
  --steel-text-color: #6d8f9c;
  --ice-text-color: #98d8d8;
  --ghost-text-color: #705898;
  --dragon-text-color: #7038f8;
}
